@model DA_WebBanSach.Models.TinTuc
@{
    ViewBag.Title = "Chi Tiết Tin Tức";
}

<div class="box_book">
    <div class="box_book_title">
        <a>Chi Tiết Tin Tức</a>
    </div>
        <div class="box_book_area" style="padding: 15px 0px 15px 15px; width: 665px">
            <div class="content" style="float: left">
                <h3><a href="@Url.Action("ChiTiet", "TinTuc", new { id=Model.TinTucID})" style="color:black">@Model.TieuDe</a></h3>
                <a href="@Url.Action("ChiTiet", "TinTuc", new { id=Model.TinTucID})"><img src="~/Images/TinTuc/@Model.UrlHinh" width="652px" /></a><br />
                <div style="width:652px; margin-top:10px; text-align:justify">
                @Html.Raw(Model.NoiDung)
                </div>
            </div>
        </div>
</div>
