@{
    ViewBag.Title = "ĐĂng Kí Thành Công";
}

<div class="box_book">
    <div class="box_book_title">
        <a>Đăng Ký Thành Công</a>
    </div>
    <div class="box_book_area" style="padding: 15px 0px 15px 15px; width: 665px">
        <div class="content" style="float: left">
            <h3>Chúc mừng bạn đã đăng ký thành công tài khoảng tại tusachviet.org.
                <br /><br />
            Xin vui lòng kiểm tra địa chỉ email để kích hoạt thành viên trước khi đăng nhập xin cảm ơn.
                <br /><br />
            Nếu không thấy email kích hoạt vui lòng bấm vào <a class="hreffor" href="@Url.Action("ResendActive","Account")">ĐÂY</a> để gửi lại email kích hoạt.
            </h3>
        </div>
    </div>
</div>

