@{
    ViewBag.Title = "Giới Thiệu";
}

<div class="box_book">
    <div class="box_book_title">
        <a>Giới Thiệu</a>
    </div>
    <div class="box_book_area" style="padding: 15px 0px 15px 15px; width: 665px">
        <div class="content" style="float: left">
            - Hiện thực và triển khai 7 - 2013 Website tusachviet.org đang trong giai đoạn Demo cho đồ án tốt nghiệp<br />
            <br />
            - Đối tác/cá nhân có nhu cầu liên hệ hợp tác/quảng cáo xin vui lòng liên hệ:<br />
            Qua điện thoại: 01203124144 Thành<br />
            Qua email: tuanthanhvo.1989@gmail.com - admin@tusachviet.org<br />
            Địa chỉ: 024e cư xá Thanh Đa Phường 27, Quận Bình Thạnh, TP.HCM<br />
        </div>
    </div>
</div>
