@{
    ViewBag.Title = "LienHe";
}

<div class="box_book">
    <div class="box_book_title">
        <a>Liên Hệ</a>
    </div>
    <div class="box_book_area" style="padding: 15px 0px 15px 15px; width: 665px">
        <div class="content" style="float: left">
            <iframe width="652" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=l%C3%B4+e+B%C3%ACnh+Th%E1%BA%A1nh,+ph%C6%B0%E1%BB%9Dng+27,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam&amp;aq=&amp;sll=10.810712,106.712372&amp;sspn=0.011951,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=L%C3%B4+E,+ph%C6%B0%E1%BB%9Dng+27,+B%C3%ACnh+Th%E1%BA%A1nh,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam&amp;ll=10.810712,106.712372&amp;spn=0.01195,0.021136&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=vi&amp;geocode=&amp;q=l%C3%B4+e+B%C3%ACnh+Th%E1%BA%A1nh,+ph%C6%B0%E1%BB%9Dng+27,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam&amp;aq=&amp;sll=10.810712,106.712372&amp;sspn=0.011951,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=L%C3%B4+E,+ph%C6%B0%E1%BB%9Dng+27,+B%C3%ACnh+Th%E1%BA%A1nh,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam&amp;ll=10.810712,106.712372&amp;spn=0.01195,0.021136&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">Xem Bản đồ cỡ lớn hơn</a></small>
            <br />
            Sinh Viên Thực Hiện: Võ Tuấn Thành<br />
            Mã Sinh Viên: 10345351<br />
            Điện Thoại: 01203124144<br />
            Địa Chỉ: 024 e Thanh Đa, Phường 27, Quận Bình Thạnh, Thành Phố Hồ Chí Minh<br />
        </div>
    </div>
</div>