<ul class="lavaLampWithImage" id="main_menu_header">
    <li class="current"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
    <li><a href="@Url.Action("GioiThieu","Home")">Giới thiệu</a></li>
    <li><a href="@Url.Action("LienHe","Home")">Liên hệ</a></li>

</ul>
<ul class="main_menu_social">
    <span>Kết nối <font color="#00CCCC">mạng xã hội</font></span>
    <li>
        <a class="c_fb" href="#"></a>
        <a class="c_tw" href="#"></a>
        <a class="c_zing" href="#"></a>
    </li>
</ul>
