@{
    ViewBag.Title = "Thanh Toán Thành Công";
}

<div class="box_book">
    <div class="box_book_title">
        <a>Thanh Toán Thành Công</a>
    </div>
    <div class="box_book_area" style="padding: 15px 0px 15px 15px; width: 665px">
        <div class="content" style="float: left">
            <h3>
                @ViewBag.Error
            </h3>
        </div>
    </div>
</div>
